<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homebrew App Store</title>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="Expires" CONTENT="-1">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ["Open Sans:400,700"]
        }
      });
    </script>
    <script src="js/libs.min.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="app">
      <!-- navbar -->
      <nav class="navBar">
        🏪 WiiuBru Appstore
        <ul class="navBar__links">
          <li>
            <a href="https://kiwiirc.com/client/irc.kiwiirc.com/wiiubru"><i class="fa fa-comments-o" aria-hidden="true"></i> IRC</a>
          </li>
          <li>
            <a href="http://forum.wiiubru.com"><i class="fa fa-forumbee" aria-hidden="true"></i> Forum</a>
          </li>
          <li>
            <a href="https://twitter.com/WiiUbru"><i class="fa fa-twitter" aria-hidden="true"></i> Follow Us</a>
          </li>
          <li>
            <a href="http://www.wiiubru.com/appstore/stats/index.html"><i class="fa fa-line-chart" aria-hidden="true"></i> Stats</a>
          </li>
          <li>
            <a href="https://www.paypal.me/pwsincd"><i class="fa fa-paypal" aria-hidden="true"></i> Donate</a>
          </li>
           <li>
            <a href="http://www.wiiubru.com/go"><i class="fa fa-arrow-right" aria-hidden="true"></i> GO</a>
          </li>
 <!--          <li>
            <a href="https://www.gbatemp.net/forums/wii-u-tutorials.265/"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Tutorials</a>
          </li>          -->
            <li> 
            <a href="http://www.wiiubru.com/rip"><i class="fa fa-thumbs-down" aria-hidden="true"></i> RIP</a>
          </li> 
        </ul>
        <a class="mobileNavToggle" v-on:click="toggleSideMenu"><i class="fa fa-bars"></i></a>
      </nav>
      <!-- / navbar -->
      <!-- side menu -->
      <div :class="['sideMenu', sideMenuIsOpen ? 'is-open' : '']">
        <ul class="categoryList">
          <li class="category">
            <router-link to="/" exact>
              <span class="category__icon"><i class="fa fa-home"></i></span><span class="category__title">top</span>
            </router-link>
          </li>
          <li class="category">
            <router-link to="/search/">
              <span class="category__icon"><i class="fa fa-search"></i></span><span class="category__title">search</span>
            </router-link>
          </li>
          <li v-for="category in categories" :class="['category', 'category--' + category.id]">
            <router-link :to="'/category/' + category.id">
              <span class="category__icon"><i :class="['fa', category.icon]"></i></span><span class="category__title">{{category.id}}</span>
            </router-link>
          </li>

        </ul>
         <!--advertisement side of page
         <div class = "adSpace">
         <br>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        
        <ins class="adsbygoogle"
             style="display:inline-block;width:200px;height:200px"
             data-ad-client="ca-pub-7623664678937879"
             data-ad-slot="9058831412"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>        
        </div> 
        end of advertisement side of page-->
      </div>
      <!-- / side menu -->
      <!-- main page content -->
      <div class="main">
        <!--advertisement top of page-->
        <div align="center">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- wiiubru -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:70px"
             data-ad-client="ca-pub-7623664678937879"
             data-ad-slot="9058831412"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>        
        </div>
        <!--end of advertisement top of page-->
        <router-view></router-view>
        <!--advertisement bottom of page-->
        <br>
        <div align="center"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Wiiubru2 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:70px"
             data-ad-client="ca-pub-8148658375496745"
             data-ad-slot="1135708500"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        </div>
        <!--end of advertisement bottom of page-->
        <footer>&copy; 2016 wiiubru.com. Powered by <a href="https://github.com/vgmoose/hbas">hbas</a> created &amp; coded by <a href="https://github.com/vgmoose/">Vgmoose.</a><br>Homebrew App Store webpage concept &amp; hosting by <a href="https://github.com/pwsincd">Pwsincd.</a>, design &amp; code by <a href="https://github.com/jaames">Jaames</a>
        <br></footer>
      </div>
      <!-- / main page content -->
      <!-- advert space -->
      <div class="adSpace">
      </div>
      <!-- advert space -->
    </div>

    <!-- front page template -->
    <script type="text/x-template" id="front-page-template">
      <div>
        <app-grid v-for="category in appList" v-bind:title="category.title" v-bind:items="category.items" showButtons="true"></app-grid>
      </div>
    </script>
    <!-- / front page template -->

    <!-- category page template -->
    <script type="text/x-template" id="category-page-template">
      <app-grid v-bind:title="appList.title" v-bind:items="appList.items"></app-grid>
    </script>
    <!-- / category page template -->

    <!-- search page template -->
    <script type="text/x-template" id="search-page-template">
      <div>
        <form class="searchField" v-on:submit="submitQuery">
          <div class="searchField__input-wrap">
            <input action="" method="" type="text" v-model="searchQuery" class="searchField__input">
          </div>
          <div class="searchField__button-wrap">
            <button type="submit" class="searchField__button button button--secondary">Search</button>
          </div>
        </form>
        <app-grid v-bind:items="appList.items"></app-grid>
      </div>
    </script>
    <!-- / search page template -->

    <!-- app page template -->
    <script type="text/x-template" id="app-page-template">
      <div class="card appPage" v-show="app">
        <div class="leftSection">
          <img class="app__image" v-bind:src="app.img_src"></img>
          <div class="app__actionWrap">
            <div class="app__action">
              <a v-bind:href="download_link" v-bind:download="app.directory + '.zip'" class="button button--block">Download</a>
            </div>
            <div class="app__action">
              <a v-bind:href="app.url" target="_blank" rel="noopener noreferrer" class="button button--block button--secondary">Source</a>
            </div>
            <div>&nbsp;</div>
            <div class="app__databody">
              <div class="app__datatitle">Additional information</div>
              <div class="app__data">Version: {{app.version}}</div>
              <div class="app__data">Size: {{app.filesize}} Kbs</div>
              <div class="app__data">Updated: {{app.updated}}</div>
              <div class="app__datatitle">Weekly Download Stats</div>
              <div class="app__data">Web Downloads: {{app.web_hits}}</div>
              <div class="app__data">App Downloads: {{app.app_hits}}</div>
            </div>  
          </div>
        </div>
        <div class="rightSection">
          <h3 class="app__title">{{app.name}}</h3>
          <div class="app__desc">{{app.desc}}</div>
          <div class="app__authors">{{app.author}}</div>
          <span :class="['app__type', 'app__type--' + app.type]">{{app.type}}</span>
          <div class="app__longDesc" v-html="formatted_desc"></div>
        </div>
    </div>
    </script>
    <!-- / app page template -->

    <!-- app grid template -->
    <script type="text/x-template" id="app-grid-template">
      <div v-bind:class="['category', title ? 'category--' + title : '']">
        <div v-if="title" class="appGridHead">
          <router-link :to="'/category/' + title">
            <a class="appGridHead__title">{{title}}</a>
          </router-link>
          <router-link v-if="showButtons" :to="'/category/' + title">
            <a class="button appGridHead__button">Show all</a>
          </router-link>
        </div>
        <ul class="appGrid">
          <li v-for="app in items" class="appGrid__item">
            <router-link :to="'/app/' + app.directory">
              <a class="card card--app">
                <img class="app__image" v-bind:src="app.img_src">
                <div class="card__head">{{app.name}}</div>
                <div class="card__body">
                  <div class="app__desc">{{app.desc}}</div>
                  <div class="app__author">{{app.author}}</div>
                </div>
              </a>
            </router-link>
          </li>
        </ul>
      </div>
    </script>
    <!-- / app grid template -->

    <!-- config -->
    <script type="text/javascript">
      var config = {
        categories: [
          {
            id: "loaders",
            json_id: "loader",
            icon: "fa-spinner"
          }, {
            id: "games",
            json_id: "game",
            icon: "fa-play"
          }, {
            id: "emulators",
            json_id: "emu",
            icon: "fa-gamepad"
          }, {
            id: "tools",
            json_id: "tool",
            icon: "fa-cog"
          }, {
            id: "concepts",
            json_id: "poc",
            icon: "fa-lightbulb-o"
          },
        ],
        appListURL: "directory.json",
        getAppImageURL: function (directory) {
          return "http://www.wiiubru.com/appstore/apps/" + directory + "/icon.png"
        },
        getAppDownloadURL: function (directory, binary) {
          return "/appstore/zips/" + directory + ".zip"
        },
      };
    </script>
    <!-- / config -->
    <script src="js/main.min.js"></script>
  </body>
</html>
